# Python-related
__pycache__/
*.pyc
*.pyd
.pytest_cache/
.coverage
htmlcov/
build/
venv/
.venv/

# General development
.git/
.gitignore
.vscode/
*.log
*.swp
*.swo
tmp/
temp/

Dockerfile*
docker-compose*
