num_workers: 3
worker:
  client_type: "MQTT"
  max_retries: 3
  retry_delay: 1.0
  host: "mosquitto"
  port: 1883
  username: ""
  password: ""
  topic: "alerts"
quarantine:
  network:
    - type: opnsense
      base_url: ""
      api_key: ""
      api_secret: ""
  protocol:
    - type: emqx
      base_url: ""
      api_key: ""
      api_secret: ""
  policies:
    - name: "default"
      description: "Default block all"
      rules:
        - "true"